# =====================
# Python
# =====================
__pycache__/
*.py[cod]

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# =====================
# Conda
# =====================
*.conda
*.env

# =====================
# Logs
# =====================
*.log
data/logs/

# =====================
# OS Files
# =====================
# Windows
Thumbs.db
Desktop.ini

# macOS (in case collaborators use it)
.DS_Store
Thumbs.db

# =====================
# Data Outputs
# =====================
data/processed/
data/tmp/

# =====================
# Testing
# =====================
.pytest_cache/

# =====================
# IDEs
# =====================
.vscode/
.idea/

# =====================
# Packaging
# =====================
*.egg-info/
dist/
build/